body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden; }

.tag_box li {
    line-height: 28px; }

.tag_box li i {
    opacity: 0.9; }

.tag_box.inline li {
    float: left; }

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc; }

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em; }

.tag_box a:hover {
    background-color: #e5e5e5; }

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF; }